.task{
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 1em;
    background-color: #b4c4de;
    border-radius: 0.8em;
    box-shadow: 5px 5px #888888;
    margin-top: 1em;
}

.info{
    text-align: left;
}

.info h4{
    font-size: 1.2em;
    margin-bottom: 1em;
}

.info h3{
    font-size: 1.0em;
}

.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions i{
    margin-bottom: .5em;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #050a0e;
    color: #e7e7e9;
    padding: .4em;
    transition: .5s;
}

.actions i:hover{
    color: #f89950
}
